body {
    height: 100vh;
    margin: 0;
}

footer {
    min-height: 50px;
}

body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: row-reverse;
}
.nav-list {
    overflow: hidden;
    padding: 20px 20px 0 0;
}

.nav-list li {
    float: left;
}

.nav-list a {
    text-decoration: none;
    padding: 0.8em;
    color: #000000de;
    font-size: 14px;
    transition: text-decoration 0.2s;
}

.nav-list a:hover {
    text-decoration: underline;
}
#top-nav .nav-list img {
    width: 20px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content img {
    padding: 155px 0 28px 0;
    width: 272px;
}

.main-content input {
    width: 480px;
    height: 40px;
    border-radius: 2em;
    border: 1px solid #d2d2d2;
    text-align: center;
    margin-bottom: 20px;
    transition: box-shadow 0.2s;
}

.main-content input:hover {
    box-shadow: 2px 2px  #a2a2a2;
    cursor: pointer;
}

textarea:focus,
input:focus {
    outline: none;
}

.main-content .nav-list li {
    padding-bottom: 40px;
    margin: 2px;
}

.main-button {
    color: #000000de;
    background-color: #f8f8f8;
    border-radius: 1em;
    transition: box-shadow 0.2s;
}
.nav-list li .main-button {
    font-size: 16px;
}

.nav-list .main-button:hover {
    text-decoration: none;
    box-shadow: 2px 2px #a2a2a2;
}

.main-content p {
    font-size: 14px;
}

.main-content a {
    text-decoration: none;
}

.main-content a:hover {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    background-color: #f2f2f2;
}

.footer-head {
    display: block;
    padding: 8px 4px 8px 20px;
    font-size: 16px;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    color: #000000ab;
}

.nav-list-footer {
    overflow: hidden;
    display: inline-block;
}

.nav-list-footer li {
    float: left;
    padding: 8px 20px 20px 20px;
}

.nav-list-footer a {
    text-decoration: none;
    color: #000000de;
    font-size: 14px;
    transition: text-decoration 0.2s;
}

.nav-list-footer a:hover {
    text-decoration: underline;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left {
    width: 40%;
    display: inline-flex;
    justify-content: flex-start;
}

.right {
    width: 40%;
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}